@import '../../../functions/color';

.woo-notice {
  padding: 1rem;
  border-left: 5px solid color(info);
  margin-bottom: 1rem;
  background-color: color(gray, lightest);
}

.woo-notice .button {
  margin-right: 1em;
}

.woo-notice--error {
  border-left-color: color(error);
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.woo-notice--success {
  border-left-color: color(success);
}
