@import 'functions/color';

/* General fallback focus styles */
:focus {
  outline: 2px solid color('red');
}

/* Will appear on mouse focus for browsers that support focus-visible */
:focus:not(:focus-visible) {
  outline: none;
}

/* For hueristics */
:focus-visible {
  outline: 2px solid color('red');
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'],
input[type='datetime-local'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='url'],
textarea,
select {
  &:focus {
    outline: none;
    border: 2px solid color('red');
  }
}
