@import 'functions/color';
@import 'mixins/button';

$outline: 2px dashed color(gray, lighter);
$outline-offset: 4px;

form {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input,
  select,
  textarea {
    // Resets
    background: none;
    border: none;

    // Styles
    margin: 0;
    padding: 12px 24px;

    line-height: 1.6;
    font-weight: normal;
    border: 2px solid color(gray, darker);
    border-radius: 6px;

    &:focus {
      outline: $outline;
      outline-offset: $outline-offset;
    }

    &::placeholder {
      // Firefox Fix
      opacity: 0.5;
      color: inherit;
    }
  }

  textarea {
    resize: vertical;
  }

  button {
    @include button();
  }
}
