// Element sizing
// 1. Remove global margin and padding
// 2. Add box-sizing
*,
::before,
::after {
  // 1
  margin: 0;
  padding: 0;

  // 2
  box-sizing: border-box;
}

// Images
img {
  max-width: 100%;
  height: auto;
}
