body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--fs-md);
  line-height: 1.55;
  color: hsl(var(--clr-gray-900));
}

:is(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
}

.content p,
.content ul,
.content ol,
.content blockquote {
  margin-top: 1.25em;
}

.content ul,
.content ol {
  margin-left: 1.5em;
}

.content * + h1,
.content * + h2,
.content * + h3,
.content * + h4,
.content * + h5,
.content * + h6 {
  margin-top: 1em;
}

.content h1 {
  font-size: var(--hdr-louder);
  line-height: 1.3;
  font-weight: 700;
}

.content h2 {
  font-size: var(--hdr-loud);
  line-height: 1.3;
  font-weight: 700;
}

.content h3,
.content h4,
.content h5,
.content h6 {
  font-size: var(--hdr-loudish);
  line-height: 1.3;
  font-weight: 700;
}

.content a {
  color: hsl(var(--clr-accent));

  &:hover {
    text-decoration: underline;
  }
}

.content blockquote {
  padding: 1em;
  background-color: hsla(0 0% 0% / 0.05);
  border-left: 10px solid currentColor;
}

.content blockquote p:first-of-type {
  margin-top: 0;
}

.content blockquote p:first-of-type::before {
  content: open-quote;
}

.content blockquote p:last-of-type::after {
  content: close-quote;
}

.content blockquote cite {
  font-size: var(--fs-sm);
}
