@import 'abstracts/typography';
@import 'functions/color';
@import 'mixins/font-size';
@import 'mixins/header';

body {
  @include font-size();
  font-family: map-get($font-families, sans);
  font-weight: map-get($font-weights, normal);
  line-height: map-get($leading, base);
  letter-spacing: map-get($kerning, none);
  color: color(gray, darkest);
}

a {
  color: color(red);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* + p,
* + ol,
* + ul {
  margin-top: 1rem;
}

li {
  margin-top: 1rem;
  margin-left: 1.25rem;
  margin-bottom: -0.5rem;
}

// Generate default heading fonts
// Feel free to remove this if it gets in the way
@for $i from 1 through 6 {
  h#{$i} {
    @include header($weight: normal, $color: color(red), $uppercase: false);
    margin-bottom: 1rem;
  }

  * + h#{$i} {
    margin-top: 3rem;
  }
}
