.entry__title {
  text-align: left !important;
}

#author {
  opacity: 0.75;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.wp-post-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 4rem;
}

#main {
  margin-bottom: 8rem;
}

#main p {
  margin-bottom: 1.5rem;
}

#main p,
#main {
  font-size: 1rem;
}

#main h2,
#main h3,
#main h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
