.woo-form,
#commentform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: var(--fs-sm);

  .form-row {
    grid-column: span 2;
  }

  .form-row-first,
  .form-row-last {
    grid-column: span 1;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='tel'],
  textarea {
    width: 100%;
    display: block;
  }

  .clear {
    display: none;
  }

  * + p {
    margin-top: 0;
  }
}

#commentform {
  grid-template-columns: auto;
}
