.shop_table {
  border-collapse: collapse;
  text-align: left;
  font-size: var(--fs-sm);
  font-weight: normal;
  width: 100%;

  thead th {
    color: hsl(var(--clr-gray-700) / 0.75);
    text-transform: uppercase;
    font-weight: normal;
  }

  th,
  td {
    padding: 0.5em 1em;
    border-bottom: 1px solid hsl(var(--clr-gray-200, 0 0% 33%));

    &:last-child {
      text-align: right;
    }
  }

  .amount {
    font-weight: bold;
  }

  .product-thumbnail img {
    vertical-align: bottom;
  }

  a.remove {
    --size: 34px;

    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    padding: 0;
    border: 2px solid currentColor;
    color: inherit;
    text-align: center;
    line-height: calc(var(--size) - 4px);
  }

  .cart__actions {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  .coupon {
    display: flex;
  }
}
