.account__row {
  display: grid;
  grid-gap: 2rem;
}

.order__row {
  display: grid;
  grid-gap: 2rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .account__row {
    grid-template-columns: 3fr 9fr;
  }

  .order__row {
    grid-template-columns: 8fr 4fr;
  }
}
