.account-nav__wrapper {
  --borders: 1px solid hsl(var(--clr-gray-200));
}

.account-nav__list {
  list-style: none;
}

.account-nav__list-item {
  position: relative;
  margin: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 4px;
    height: 100%;
    background-color: hsl(var(--clr-accent));
    opacity: 0;
    transform-origin: right;
    transform: scaleX(0%);

    transition: opacity 300ms ease, transform 300ms ease;
  }

  & + & {
    border-top: var(--borders);
  }
}

.account-nav__list-link {
  padding: 0.5rem 0;
  display: block;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.account-nav__list-item.is-active .account-nav__list-link {
  font-weight: bold;
  color: hsl(var(--clr-accent));
}

.account-nav__list-item.is-active::after {
  opacity: 1;
  transform: scaleX(100%);
}

.account-nav__list:hover {
  .account-nav__list-item.is-active::after {
    opacity: 0;
  }

  .account-nav__list-item:hover::after {
    opacity: 1;
    transform: scaleX(100%);
  }
}

@media (min-width: 768px) {
  .account-nav__wrapper {
    border-right: var(--borders);
  }
}
