// Simple button reset
%button-reset {
  display: inline-block;
  margin: 0;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}
