$font-families: (
  'sans': (
    'Helvetica',
    'Open Sans',
    sans-serif,
  ),
  'serif': (
    'Lora',
    'Times New Roman',
    serif,
  ),
);

$font-sizes: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'base': (
    0.875rem,
    1rem,
  ),
  'lg': (
    1rem,
    1.25rem,
  ),
  'xl': (
    1.375rem,
    1.625rem,
  ),
  '2xl': (
    1.75rem,
    2rem,
  ),
  '3xl': (
    2.25rem,
    2.625rem,
  ),
  'huge': (
    7rem,
    12.5rem,
  ),
);

$font-weights: (
  'lighter': 300,
  'normal': 400,
  'bold': 700,
  'bolder': 900,
);

$leading: (
  'base': 1.6,
);

$kerning: (
  'none': 0px,
  'small': 0.05em,
);
