.pcButton,
input[type='submit'] {
  display: inline-block;
  width: auto;
  padding: 14px 25px;
  background: var(--primary-accent);
  border-radius: 0px;
  border: none;
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.pcButton:hover,
input[type='submit']:hover {
  filter: brightness(1.1);
}
