.footer {
  padding-top: 1rem;
  text-align: center;
  color: #fff;
  background-color: $dark;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}

.footer__container {
  @include container;
}

.footer__logo {
  margin-bottom: 1em;
}

.footer__links {
  li {
    margin-bottom: 0.5rem;
  }

  a {
    font-size: map-get($font-sizes, lg);
  }
}

.footer__copyright {
  font-size: map-get($font-sizes, sm);
  background-color: #555;
}

.footer__copyright__flex {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  @include mq {
    display: flex;

    p + p {
      margin-left: 1rem;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
