label,
input,
select,
button,
textarea {
  margin: 0;
  padding: 12px;
  border: none;
  display: block;
  white-space: normal;
  background: none;
  line-height: inherit;

  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
}

label,
textarea {
  width: 100%;
}

input,
select,
button,
textarea {
  border: 1px solid var(--text-light);
  border-radius: 6px;
}

label {
  padding: 0;
  text-align: left;
  color: inherit;
  margin-bottom: 0.8em;
}

select {
  padding-right: 2em;
}

select option {
  font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
