.navbar {
  color: $dark;
  background-color: #fff;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.navbar__container {
  @include container;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  align-items: center;
}

.navbar__logo {
  max-width: 100%;
  height: auto;
}

.navbar__menu {
  display: none;
  margin-left: auto;
}

.navbar__links {
  display: flex;
  align-items: baseline;

  .menu-item {
    a {
      margin: 0 0.5rem;
      padding: 0.5rem;
      display: block;
    }

    &.menu-item-has-children {
      position: relative;

      svg {
        margin-left: 0.5rem;
      }

      .sub-menu {
        margin: 0;
        padding: 0;
        opacity: 0;
        display: none;
        position: absolute;
        top: 100%;
        width: 180px;
        background: #fff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
          -4px 4px 4px 4px rgba(0, 0, 0, 0.1);

        .menu-item a {
          margin: 0;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }

      &:hover {
        .sub-menu {
          display: block;
          opacity: 1;
        }
      }
    }
  }
}

.navbar__hamburger {
  margin-left: auto;

  button {
    padding: 0.75rem;
    border: none;
    width: auto;
    background-color: transparent;
    cursor: pointer;

    svg {
      vertical-align: bottom;
    }
  }
}

// Mobile breakpoint
$breakpoints: ('sm', 'md', 'lg', 'xl');

@each $break in $breakpoints {
  .navbar-expand-#{$break} {
    @include mq(#{$break}) {
      .navbar__hamburger {
        display: none;
      }

      .navbar__menu {
        display: block;
      }
    }
  }
}
