$font-sizes: (
  'xs': 12px,
  'sm': 14px,
  'base': 16px,
  'lg': 20px,
  'xl': 25px,
  '2xl': 30px,
  '3xl': 38px,
  '4xl': 46px,
);

body {
  font-family: 'Open Sans', sans-serif;
  @include font-size(
    $min-font: map-get($font-sizes, base) - 2px,
    $max-font: map-get($font-sizes, base)
  );
  font-weight: normal;
  line-height: 1.6;
  color: $dark;
}

// Reset all of the header tags
@for $i from 1 through 6 {
  h#{$i} {
    @include header($size: 2xl);
  }
}

a {
  color: inherit;
}
