$font-sizes: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'base': 1rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 3.75rem,
  '7xl': 4.5rem,
  '8xl': 6rem,
  '9xl': 8rem,
);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: map-get($font-sizes, base);
  font-weight: normal;
  line-height: 1.6;
  color: $dark;
}

// Reset all of the header tags
@for $i from 1 through 6 {
  h#{$i} {
    font-size: map-get($font-sizes, 2xl);
    margin-top: 0;
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
}
