@import 'mixins/container';
@import 'mixins/font-size';

.content-single__container {
  @include container(sm);
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.content-single__article {
}

.content-single__header {
}

.content-single__date {
  @include font-size($size: xs);
}

.content-single__date + .content-single__thumbnail {
  margin-top: 1.5rem;
}

.content-single__header + .content-single__content {
  margin-top: 3rem;
}

.content-single__thumbnail {
  width: 100%;
  height: auto;
}

.content-single__content {
  > * + h2,
  > * + h3,
  > * + h4,
  > * + h5,
  > * + h6 {
    margin-top: 3rem;
  }

  > * + p,
  > * + ol,
  > * + ul {
    margin-top: 1.5rem;
  }

  > ul,
  > ol {
    padding-left: 1.5rem;
  }
}
