@import 'components/search-form';
@import 'components/content-card';

.search-results__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .search-results__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
