@import 'mixins/font-size';
@import 'mixins/container';
@import 'mixins/breakpoint';

@import 'components/pagination';

.blog-home {
  margin-block: 4rem;

  &__container {
    @include container;
  }

  &__grid {
    display: grid;
    grid-gap: 3rem 2rem;

    @include mq('sm') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.content {
  background-color: rgba(238, 238, 238, 0.5);

  &__title,
  &__excerpt,
  &__footer {
    max-width: 85%;
    margin-inline: auto;
  }

  &__title {
    @include font-size('lg');
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__footer {
    text-align: right;
    padding-block: 2rem;
  }
}
