@import 'mixins/font-size';
@import 'mixins/container';

@import 'components/pagination';

.home-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 3rem;
  gap: 3rem;

  text-align: left;
}

.home-index__container {
  @include container;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.home-index .post {
  outline: 2px solid #eee;
}

.post-preview__thumbnail-wrapper {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.post-preview__text {
  padding: 6% 8%;
}

.post-preview__header h2 {
  margin-bottom: 1.25rem;
  @include font-size($size: lg);
}

.post-preview__header a {
  color: inherit;
}

.post-preview__excerpt {
}

.post-preview__thumbnail-wrapper + .post-preview__text {
  margin-top: 2rem;
}
