.content-single__header {
  margin-bottom: 2.25rem;
}

.content-single__meta {
  margin-top: 0.5em;
  font-size: var(--fs-xs);
}

.content-single__author,
.content-single__date {
  margin-top: 0.5em;
  color: hsl(var(--clr-navy));
  font-size: var(--fs-sm);
}

.content-single__thumbnail {
  width: 100%;
  height: auto;
  margin-top: 1em;
}
