@import 'mixins/button';
@import 'mixins/container';

@import 'components/woo/global/notices';
@import 'components/woo/global/forms';
@import 'components/woo/global/table';
@import 'components/woo/global/breadcrumb';

.woo__container {
  @include container;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

a.button {
  @include button;
}
