@import 'mixins/breakpoint';

@import 'functions/color';

@import 'components/woo/global/product-loop';

.single-product__row {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;

  @include mq {
    grid-template-columns: repeat(2, 1fr);
  }
}

.single-product__title {
  margin-top: 0;
}

.cart {
  margin: 1rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  .qty {
    width: 5rem;
  }
}

.single-product__meta {
  display: block;
  border-top: 1px solid color(gray, lightest);
  padding: 0.5rem 0;
  font-size: 14px;
  color: rgba($color: black, $alpha: 0.5);
}

.single-product__price {
  font-size: 22px;
  font-weight: bold;

  .woocommerce-Price-currencySymbol {
    font-size: 0.75em;
    vertical-align: top;
    margin-top: 0.05em;
  }
}

.single-product__gallery {
  position: relative;

  .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 50;
    transition: transform 300ms ease;

    &:hover {
      text-decoration: none;
      transform: scale(1.1);
    }
  }
}
