.accordion {
  text-align: center;
  transition: height 200ms ease-in-out;
  overflow: hidden;
  height: 0;
}

.accordion__menu {
  padding-top: 1rem;
}

.accordion__menu a {
  display: block;
  padding: 0.25rem 0;
}
