@import 'mixins/button';

.content-card__article {
  background-color: hsl(var(--clr-white));
  box-shadow: var(--shadow-sm);
  padding: 2em;
}

.content-card__img {
  margin-bottom: 1.5em;
}

.content-card__article .more-link {
  @include button();
  margin-top: 1rem;
}

.content-card__meta {
  font-size: var(--fs-xs);
}
