.footer {
  padding-top: 3rem;
  text-align: center;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-gray-700));
}

.footer__links {
  list-style: none;
}

.footer__grid {
  display: grid;
  gap: 1rem 2rem;
  align-items: center;
}

.footer__company {
  text-align: left;
}

.footer__company .socials {
  margin-top: 1rem;
}

.footer__home-link {
  display: inline-block;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .footer__grid {
    grid-template-columns: 300px 1fr;
  }
}

/// Copyright
.copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  font-size: var(--fs-sm);
  color: hsla(var(--clr-white) / 60%);
  background-color: hsl(var(--clr-gray-900));
}

@media (min-width: 768px) {
  .copyright__flex {
    display: flex;
    justify-content: space-between;
  }
}
