@import 'abstracts/typography';
@import 'mixins/container';
@import 'mixins/breakpoint';

.footer {
  padding-top: 1rem;
  text-align: center;
  color: color(white);
  background-color: color(gray, darker);
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer__container {
  @include container;
}

.footer__logo {
  margin-bottom: 1em;
}

.footer__logo a {
  display: inline-block;
  padding: 0.5rem;
  vertical-align: bottom;
}

.footer__logo img {
  margin-inline: auto;
  vertical-align: bottom;
}

.footer__links li {
  margin: 0;
}

.footer__links a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.footer__links li + li {
  margin-top: 0.5rem;
}

.footer__copyright {
  background-color: color(gray, darkest);
  color: color(gray, lightest);
  font-size: map-get($font-sizes, sm);
}

.footer__copyright__flex {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  p {
    margin: 0;
  }

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  @include mq {
    display: flex;

    p + p {
      margin-left: 1rem;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
