@import 'abstracts/shadows';

@import 'mixins/container';
@import 'mixins/breakpoint';

@import 'functions/color';

// Base styling
.navbar {
  color: hsl(0, 0%, 80%);
  background-color: color(white);
  color: color(gray, darkest);
  box-shadow: map-get($shadows, sm);
}

.navbar ul {
  list-style: none;
}

.navbar li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar__container {
  @include container;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  display: flex;
  align-items: center;
}

// Logo
.navbar__logo {
  margin-right: 1rem;
}

.navbar__logo a {
  display: block;
  padding: 0.5rem;
}

.navbar__logo img {
  vertical-align: bottom;
}

// Menu
.navbar__menu {
  display: none;
  margin-left: auto;
}

.navbar__links {
  display: flex;
  align-items: baseline;
  white-space: nowrap;

  // Menu-wide link styling
  a,
  button {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  // Menu button styling
  button {
    background: none;
    border: none;
    appearance: none;
    border-radius: 0;
    line-height: inherit;
    cursor: pointer;
  }

  // Top-level links and buttons
  > .menu-item > a,
  > .menu-item > button {
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
  }
}

.navbar__links.no-js .menu-item-has-children:hover > .sub-menu,
.navbar__links.no-js .menu-item-has-children:focus-within > .sub-menu {
  // No Javascript Fallback
  visibility: visible;
}

.navbar__links .menu-item-has-children {
  position: relative;
}

.navbar__links .sub-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;

  width: 180px;
  background-color: color(white);
  box-shadow: map-get($shadows, sm);

  &[aria-hidden='false'] {
    visibility: visible;
  }
}

.navbar__links .sub-menu a {
  // Submenu links
  display: block;
  padding: 0.25rem 0.5rem;

  + a {
    margin-bottom: 0.25rem;
  }

  &:hover {
    background-color: rgba(color(black), 0.05);
  }
}

.navbar__links .menu-item-has-children svg {
  margin-left: 0.5rem;

  transition: transform 300ms ease;
}

.navbar__links .menu-item-has-children button[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}

// Hamburger
.navbar__hamburger {
  margin-left: auto;
}

.navbar__hamburger button {
  padding: 0.75rem;
  border: none;
  width: auto;
  background-color: transparent;
  cursor: pointer;
}

.navbar__hamburger svg {
  vertical-align: bottom;
}

// Create customizable mobile breakpoints for customizer
$breakpoints: ('sm', 'md', 'lg', 'xl');

@each $break in $breakpoints {
  .navbar-expand-#{$break} {
    @include mq(#{$break}) {
      .navbar__hamburger {
        display: none;
      }

      .navbar__menu {
        display: block;
      }
    }
  }
}
