@import 'mixins/button-reset';

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: hsl(var(--clr-white));
  font-size: var(--fs-sm);
  background-color: hsl(var(--clr-gray-700));

  button {
    @include button-reset();
  }

  ul {
    list-style: none;
  }
}

.navbar__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar__menu {
  display: none;
}

.navbar__home-link {
  display: block;
}

.navbar__links {
  display: flex;
  align-items: center;
  white-space: nowrap;

  a,
  button {
    margin: 0 0.375rem;
    padding: 0.25rem 0.375rem;
  }

  &.no-js .menu-item-has-children:hover .sub-menu,
  &.no-js .menu-item-has-children:focus-within .sub-menu {
    visibility: visible;
  }

  .menu-item-has-children {
    position: relative;

    svg {
      margin-left: 0.5rem;
    }

    button[aria-expanded='true'] svg {
      transform: rotate(-180deg);
    }
  }

  .sub-menu {
    --size: 180px;
    --focus-outline-offset: -2px;

    display: grid;
    gap: 0.125rem;
    visibility: hidden;
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 0;
    width: var(--size);
    white-space: normal;
    background-color: hsl(var(--clr-gray-900));
    box-shadow: var(--shadow-lg);

    &[aria-hidden='false'] {
      visibility: visible;
    }

    a {
      display: block;
      margin: 0;
      padding: 0.5rem 0.75rem;
    }
  }
}

.hamburger__button {
  padding: 0.75rem;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .navbar__menu {
    display: block;
  }
}
