@import 'functions/color';

.pushy {
  display: flex;
  flex-flow: column nowrap;
  width: 260px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1025;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
  color: color(gray, darkest);
  background-color: color(white);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-left {
    left: 0;
    -webkit-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }

  &-right {
    right: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }
}

.pushy__header {
  display: flex;
  padding: 0.75rem;
  border-bottom: 2px solid color(gray, lightest);
}

.pushy__menu {
  overflow-y: auto;
  flex-grow: 1;

  .menu-item-has-children {
    .sub-menu {
      background-color: color(gray, lightest);
      transition: height 300ms ease-in-out;
      overflow: hidden;
    }

    > a {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    svg {
      transition: transform 300ms ease-in-out;
      vertical-align: bottom;
    }

    &.is-open svg {
      transform: rotate(90deg);
    }
  }

  a {
    display: block;
    color: inherit;
    padding: 1rem 0.75rem;
    text-decoration: none;
    font-weight: 700;
  }
}

.pushy__close {
  display: inline-block;
  margin: 0;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;

  -webkit-appearance: none;
  -moz-appearance: none;

  svg {
    vertical-align: bottom;
  }
}

.pushy__footer {
  text-align: center;
  letter-spacing: 2rem;
  padding: 1rem 0.5rem;
  border-top: 2px solid color(gray, lightest);

  a {
    display: inline-block;
    color: color(red);
  }

  svg {
    vertical-align: bottom;

    path {
      fill: currentColor;
    }
  }
}

body {
  &.pushy-open-left .pushy {
    -webkit-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }

  &.pushy-open-right .pushy {
    -webkit-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }

  &.pushy-open-left .pushy,
  &.pushy-open-right .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.05), -4px 0 4px rgba(0, 0, 0, 0.05),
      -8px 0 8px rgba(0, 0, 0, 0.05), -16px 0 16px rgba(0, 0, 0, 0.05);
  }

  &.pushy-open-left,
  &.pushy-open-right {
    .pushy__overlay {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1020;
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-animation: fade 500ms;
      animation: fade 500ms;
    }
  }
}

.pushy__overlay {
  display: none;
}

// Animations

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
