@import 'mixins/button-reset';

.pushy {
  --width: 14rem;
  --border: 2px solid hsla(var(--clr-white) / 15%);
  --focus-outline-offset: -2px;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  flex-flow: column wrap;
  width: var(--width);
  max-width: 90vw;
  height: 100%;
  overflow: hidden;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-gray-700));
  box-shadow: var(--shadow-lg);
  visibility: hidden;

  transform: translate3d(var(--width), 0, 0);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

  button {
    @include button-reset();
  }

  a {
    display: block;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.pushy__header {
  display: flex;
  padding: 0.25rem;
  border-bottom: var(--border);
}

.pushy__close {
  min-height: 44px;
  min-width: 44px;
}

.pushy__links {
  list-style: none;

  a,
  button {
    padding: 0.25rem 0.75rem;
  }

  button {
    width: 100%;
    justify-content: space-between;
    text-align: left;
  }

  svg {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }

  button[aria-expanded='true'] svg {
    transform: rotate(-180deg);
  }

  .menu-item-has-children .sub-menu {
    background-color: hsl(var(--clr-gray-900));
    overflow: hidden;
    visibility: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

    &[aria-hidden='false'] {
      visibility: visible;
      display: block;
    }
  }
}

.pushy__footer {
  --focus-outline-offset: 2px;

  padding: 0.5rem;
  margin-top: auto;
  border-top: var(--border);
}

.pushy__footer .socials__flex {
  justify-content: space-evenly;
}
