/// Adds a breakpoint
/// @param {string} $size [md] - The size of the breakpoint from the $breakpoints map
/// @param {string} $type [min] - Breakpoint width type, either min or max
@mixin mq($size: md, $type: min) {
  $breakpoints: (
    'sm': 480px,
    'md': 768px,
    'lg': 976px,
    'xl': 1440px,
  );

  @if map-get($breakpoints, $size) == null {
    @error 'The media query mixin paramater $size requires a valid key from the mixin\'s $breakpoints map!';
  }

  @if $type != min and $type != max {
    @error 'The media query mixin paramater $size must be either min or max!';
  }

  $width: map-get($breakpoints, $size);

  @if $width == min {
    $width: $width - 1px;
  }

  @media screen and (#{$type}-width: $width) {
    @content;
  }
}
