@import 'mixins/button-reset';

@mixin button() {
  // Resets
  @include button-reset();
  display: inline-block;
  text-decoration: none;

  // Styling
  padding: 1rem 2rem;
  min-width: 9rem;
  border-radius: 0px;
  background-color: hsl(var(--clr-accent));
  color: hsl(var(--clr-white));
  font-size: var(--fs-sm);
  line-height: 1.4;
  text-align: center;

  // Animation
  transition: transform 150ms ease;

  // Interaction

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &:not([disabled]):hover {
    transform: scale(1.05);
  }

  &:not([disabled]):active {
    transform: scale(0.95);
  }

  &:focus {
    transform: scale(1.05);
    outline: 2px solid hsl(var(--clr-accent));
    outline-offset: 0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    transform: scale(1.05);
    outline: 2px solid hsl(var(--clr-accent));
    outline-offset: 0.25em;
  }
}
