@import 'functions/color';

/// Adds buttons, for <a> and <button> tags
@mixin button() {
  // Resets
  display: inline-block;
  margin: 0;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;

  // Styling
  padding: 0.75em 2em;
  border-radius: 3px;
  background-color: color('red');
  color: color('white');
  font-size: 1rem;
  line-height: 1.6;

  // Animation
  transition: transform 150ms ease;

  // Interaction

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &:not([disabled]):hover {
    transform: scale(1.05);
  }

  &:not([disabled]):active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px color('red', 'dark');
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: 2px solid color('red', 'dark');
  }
}
