// Fluid responsive font size mixin
// @param $min-font: Minimum font size
// @param $max-font: Maximum font size
// @param $min-vp: Smallest size of screen that the fluid effect stops taking place
// @param $max-vp: Largest size of screen that the fluid effect stops taking place
@mixin font-size(
  $min-font: 14px,
  $max-font: 16px,
  $min-vp: 500px,
  $max-vp: 1200px
) {
  $slope: ($min-font - $max-font) / ($min-vp - $max-vp);
  $base: $max-font - $slope * $max-vp;

  font-size: $min-font;

  @media (min-width: $min-vp) {
    font-size: calc(#{$base} + 100vw * #{$slope});
  }

  @media (min-width: $max-vp) {
    font-size: $max-font;
  }
}
