@import 'abstracts/typography';
@import 'functions/strip-unit';

/// Fluid responsive font sizes
/// @param {string} $size [base] - Largest font size, from 'abstracts/typography' $font-sizes map
@mixin font-size($size: 'base') {
  @if false == map-has-key($font-sizes, $size) {
    @error 'No font size exists for "$#{$size}". Check the abstracts/typography file for the available font sizes.';
  }

  $font-size: map-get($font-sizes, $size);

  @if type-of($font-size) == 'list' {
    $min-size: strip-units(nth($font-size, 1));
    $max-size: strip-units(nth($font-size, 2));
    $min-width: 700;
    $max-width: 1000;

    $vwCoefficient: (1600 * ($max-size - $min-size)) /
      ($max-width - $min-width);
    $remCoefficient: $min-size -
      ($min-width * ($max-size - $min-size)) /
      ($max-width - $min-width);

    font-size: clamp(
      #{$min-size}rem,
      calc(#{$vwCoefficient}vw + #{$remCoefficient}rem),
      #{$max-size}rem
    );
  } @else {
    font-size: $font-size;
  }
}
