@import 'abstracts/typography';
@import 'mixins/font-size';

/// To keep consistent headers throughout the site and handle mobile response
/// @param {length} $size [2xl] - key from the $font-sizes map
/// @param {color} $color [inherit] - color of the text
/// @param {boolean} $uppercase [true] - to uppercase the header or not
/// @param {string} $weight [bold] - key from the $font-weights map
/// @param {string} $spacing [small] - letter spacing of text
@mixin header(
  $size: 2xl,
  $color: inherit,
  $uppercase: true,
  $weight: bold,
  $spacing: small
) {
  @include font-size($size: $size);

  font-weight: map-get($font-weights, $weight);
  letter-spacing: map-get($kerning, $spacing);
  color: $color;

  @if $uppercase == true {
    text-transform: uppercase;
  }
}
