@import '../../../abstracts/shadows';

@import '../../../mixins/font-size';
@import '../../../mixins/breakpoint';

.woocommerce {
  margin: 3rem 0 5rem;
}

.checkout__row {
  display: grid;
  grid-gap: 2rem 4rem;

  @include mq {
    grid-template-columns: 8fr 4fr;
    align-items: flex-start;
  }
}

.checkout__col--review {
  padding: 2rem;
  box-shadow: map-get($shadows, sm);
}

.checkout__shipping-wrapper > * {
  margin-top: 2rem;
}

.payment_methods,
.woocommerce-privacy-policy-text {
  margin-bottom: 2rem;
  @include font-size(xs);
}

.woo-form button[type='submit'] {
  margin-top: 0 !important;
}
