@import '../../../mixins/breakpoint';

@import '../../../components/woo/global/address';

.order__row {
  display: grid;
  grid-gap: 2rem;

  @include mq {
    grid-template-columns: 8fr 4fr;
  }
}

* + .order__row {
  margin-top: 4rem;
}
