@import '../../../abstracts/shadows';

@import '../../../mixins/font-size';
@import '../../../mixins/container';
@import '../../../mixins/breakpoint';

.customer-login__container {
}

.customer-login__row {
  display: grid;
  grid-gap: 2rem 4rem;
  gap: 2rem 4rem;

  @include mq {
    grid-template-columns: repeat(2, 1fr);
  }
}

.customer-login__wrapper {
  padding: 2rem 3rem;
  background-color: color(white);
  box-shadow: map-get($shadows, sm);
}

.customer-login__wrapper input[type='text'],
.customer-login__wrapper input[type='email'],
.customer-login__wrapper input[type='password'] {
  width: 100%;
  display: block;
}

.customer-login__password-to-be-sent,
.woocommerce-privacy-policy-text {
  @include font-size(sm);
  margin-top: 1rem;
}
